/* ==========================================================================
#icon
========================================================================== */
$o-icon: '.o-icon';

#{$o-icon} {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 0;
}
