$o-wysiwyg: '.o-wysiwyg';

%wysiwyg-base {
    $vertical-rythm: $lineHeight-relaxed;

    line-height: $vertical-rythm;

    /* spacing */

    > * + * {
        margin-bottom: 1em * $vertical-rythm;
    }

    > *:first-child {
        margin-top: 0;
    }

    /* heading */

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0.5em * $vertical-rythm;
        margin-bottom: 0.25em * $vertical-rythm;
    }

    h1 {
        @extend %heading-1;
    }

    h2 {
        @extend %heading-2;
    }

    h3 {
        @extend %heading-3;
    }

    h4 {
        @extend %heading-4;
    }

    h5 {
        @extend %heading-5;
    }

    h6 {
        @extend %heading-6;
    }

    /* link */

    a {
        text-decoration: underline;

        &:hover {
            border-bottom: 1px solid;
        }

    }

    /* paragraph */

    p:empty {
        display: none;
    }

    abbr {
        border-bottom: 1px dotted;
        cursor: help;
    }

    cite {
        font-style: italic;
    }

    img {
        vertical-align: text-bottom;
    }

    ins {
        text-decoration: none;
        background-color: lime;
    }

    mark {
        background-color: #ff0;
    }

    small {
        font-size: 0.8em;
    }

    strong {
        font-weight: 700;
    }

    sub,
    sup {
        font-size: 0.8em;
    }

    sub {
        vertical-align: sub;
    }

    sup {
        vertical-align: super;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }

    code {
        padding: 0.25em;
        padding-bottom: 0.2em;
        position: relative;
        top: -1px;
        color: rgba(51, 51, 51, 0.9);
        font-size: 87.5%;
        font-family: Consolas,Menlo,Monaco,'Courier New',monospace;
        line-height: 1;
        background-color: #eff1f2;
        border-radius: 2px;
    }

    /* list */

    ol {
        @extend %o-ordered-list;
    }

    ul {
        @extend %o-unordered-list;
    }

    table {
        //@extend .o-table;
    }

    /* image */ 
    
    img {
        display: inline;
    }

}

#{$o-wysiwyg} {
    @extend %wysiwyg-base;
}

#{$o-wysiwyg}-small {
    @extend %wysiwyg-base;
    font-size: $fontSize-6;
}

#{$o-wysiwyg}-large {
    @extend %wysiwyg-base;
    font-size: $fontSize-10;
}
