/* ==========================================================================
    #config
==========================================================================  */

$is-dev: '.is-dev' !default;

/* ==========================================================================
    #folder
==========================================================================  */

$folder-fonts: '../fonts/' !default;
$folder-images: '../images/' !default;
$folder-svg: '../svg/' !default;
$icomoon-font-path: $folder-fonts !default;
$folder-node-modules: '../../node_modules/' !default;

/* ==========================================================================
    #typography
==========================================================================  */

/* font-family */
$roboto: 'Roboto Condensed', sans-serif !default;
$anton: 'Patua One', sans-serif !default;

/* Text selection */
$text-selection-color: $colors-black !default;
$text-selection-bg: #b3d4fc !default;

/* ==========================================================================
    #include-media (plugin)
==========================================================================  */

$breakpoints: (
    'sm': $screens-sm,
    'md': $screens-md,
    'lg': $screens-lg,
    'xl': $screens-xl,
) !default;

/* ==========================================================================
    #form
==========================================================================  */

$form-input-padding: 12px 20px;
$form-input-select-size-icon: 40px;
$form-radio-size-icon: 18px;
$form-checkbox-size-icon: 18px;
